@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Tangerine&family=Great+Vibes&family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Amatic+SC&family=Concert+One&family=Ephesis&family=Libre+Barcode+128&family=Poiret+One&family=Sarabun:wght@400&family=Thasadith&family=Zilla+Slab+Highlight:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sarabun", sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
}

h6{
  font-size: 40px;
  color: #937c4e;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;  
}

.light-bulb{
  padding: 10px;
  border: solid 1px #c8c7c76a;
}

header {
  background: rgb(45, 100, 145);
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}


.main-heading{
font-family: 'Zilla Slab Highlight', serif;
}
.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: #c8c7c76a;
  color: #000;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.back-btn {
  background: #c8c7c76a;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 10px;
  border: solid 1px #c8c7c76a;
}

.card-page {
  padding: 15px 30px;
  margin: 10px 0;
}

.post-title {
  margin: 10px 0;
  font-family: 'Zilla Slab Highlight', serif;
}

.post-date {
  margin-bottom: 20px;
  font-family: Ephesis, sans-serif;
  font-size: 15px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.acc {
  font-family: "sacramento", cursive;
  font-size: 30px;
  color: #ffffff;
  text-shadow: #ffffff 1px 2px 5px;
  line-height: 10px;
  padding-top: 20px;
}

#dev {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(45, 100, 145);
  letter-spacing: 3px;
  font-size: 40px;
}

/* @media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
} */
